.ul {
  margin: 20px 0 0 0;
  list-style-type: none;
  padding: 0;
  max-height: 870px;
  overflow-y: scroll;
  scrollbar-color: var(--text-inactive-color) var(--colors-button-inactive);
  width: 100%;
}

.ul::-webkit-scrollbar {
  background: var(--colors-button-inactive);
}

.ul::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
}

.li {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  width: 100%;
  background: var(--background);
  border: 2px dashed #4c4cff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ul_two {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-left: 14px;
}

.li_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: linear-gradient(to right, #801ab2, #4c4cff);
  position: relative;
}

.li_img:first-child {
  z-index: 6;
  margin-left: -14px;
}

.li_img:nth-child(2) {
  z-index: 5;
  margin-left: -14px;
}

.li_img:nth-child(3) {
  z-index: 4;
  margin-left: -14px;
}

.li_img:nth-child(4) {
  z-index: 3;
  margin-left: -14px;
}

.li_img:nth-child(5) {
  z-index: 2;
  margin-left: -14px;
}

.li_img:nth-child(6) {
  z-index: 1;
  margin-left: -14px;
}

.li_img::after {
  content: "";
  display: block;
  position: absolute;
  width: 58px;
  height: 58px;
  background: var(--background-alt);
  border-radius: 100%;
  z-index: 1;
}

.img {
  width: 112px;
  height: 56px;
  z-index: 2;
}

.img_length {
  opacity: 0.3;
}

.text_length {
  position: absolute;
  color: #fff;
  z-index: 10;
}
.price {
  display: flex;
  align-items: center;
  gap: 8px;
}
