.img {
  width: 480px;
  height: 240px;
  object-fit: contain;
}

.div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-bottom: 0;
  text-align: center;
}

.li {
  min-width: 112px;
  color: var(--text-inactive-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
