.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 912px;
}

.ul {
  min-height: 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  width: 584px;
  padding-left: 16px;
  position: relative;
  left: 16px;
  max-height: 464px;
  overflow-y: scroll;
  scrollbar-color: var(--text-inactive-color) var(--colors-button-inactive);
}

.ul::-webkit-scrollbar {
  background: var(--colors-button-inactive);
}

.ul::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
}

.info {
  display: flex;
  justify-content: flex-end;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price > svg {
  width: 36px;
  height: 36px;
}

.ulUnder {
  list-style-type: none;
  padding: 0;
}
