.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    transition: .2s;
}


.modal_active {
    visibility: visible;
    opacity: 1;
    overflow: hidden;

}